* {
    margin: 0;
    color: azure;
    font-family: 'Alkalami', serif;
}

body {
    background-image: url("violetaF.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

ul { list-style-type:none }

.redes ul{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    border: 2px  solid rgb(0, 0, 0);
    background-color: rgba(231, 234, 47, 0.6);
    
}

.redes{
    background-color: rgba(red, rgb(0, 255, 0), #fff, 0.4);
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1 span{
    font-family: "sans-serif";
    color: burlywood;
}

h1{
    font-size: x-large;
    display: block;
    width: 500px;
    border: 2px thin rgba(255, 255, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 200px;
}

.titulo-sobreMi{
    border: 2px solid red;
    width: 200px;
    position: relative;
}


.tecnologias{
    border: 2px solid rgb(red, green, blue);
    background-color: rgba(207, 210, 15, 0.6);
   justify-content: flex-end;
}