:root{
    --grey-obs: #272727;
    --grey-clair: #666666;
    --violet: #5e17eb;
    --blanco: #f4f4f4;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
/* SECCION BARRA INICIO */
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--grey-obs);
    height: 70px;
    width: 100%;
    padding: 0px 5%;
    position: fixed;
    box-sizing: border-box;
}

.logo a{
    color: var(--violet);
    font-size: 15px;
    font-weight: 600;
}

header nav ul{
    display: flex;

}
header nav ul li{
    display: flex;
    padding: 0px 10px;
}
header nav ul li a{
    color: var(--blanco);
    font-size:  10px;
    font-weight: 600;
    cursor: pointer;
}
/* FIN BARRA INICIO */

/* SECCION INICIO BANNER */
#container-inicio{
    padding: 100px;
    align-items: center;
    border:var(--grey-clair) 5px solid;
    background-image: url("../patagonia.png");
    height: 100%;
}



.contenido-banner{
    border: #5e17eb 5px solid;
    align-items: center;
    
    background-color: var(--grey-obs);
    justify-content: center;
}
.contenido-nombre{
    color: var(--blanco);
    display: block;    
}
.contenido-nombre h1{
    display: block; 
    width: auto;
}
.contenido-banner div{
    padding-top: 15px;

}
